#tnew{
	 display: block;
	 width:50px;
	 height: 14px;
	 color:red;
	 font-size: 12px;
	 z-index: 1;
	 margin-top: -75px;
	 margin-left: 130px;
}
#zboxsw{
	 width:100%;
	 background: #f1f1f1;
	  /*box-shadow:  0px 5px  10px  #999999;*/
	  /*margin-bottom: 10px;*/
	  /*position: fixed;*/
	  z-index: 1;
	  /*top:0;*/
}
.shouul{
	 display: block;
	   width:666px;
	   margin:0 auto;
	   display: flex;
	 justify-content: space-around;
}
.shouli{
	 display: flex;
	 isplay: block;
     	width:100px;
	flex-direction: column;
	 justify-content: space-between;
}
.shouy{
	margin-top: 40px;
	margin-bottom: 15px;
	 display: block;
	 width:42px;
	 height: 42px;
	 margin-left: 28px;
	 border-radius: 50%;
	 background: #cccccc;
	 background-image: url(../img/hea.png);
	 /*display: none;*/

}
 #shouy1{
    background-position: 1px 124px;
 }
  #shouy1:hover{
    background-position: 1px 164px;
  }
  #shouy2{
    background-position: 1px 535px;
  }
  #shouy2:hover{
    background-position: 1px 1px;
  }
  #shouy3{
    background-position: 0px 287px;
  }
  #shouy3:hover{
    background-position: 0px 327px;
  }
    #shouy4{
    background-position: 0px 371px;
  }
   #shouy4:hover{
    background-position: 0px 411px;
  }
     #shouy5{
    background-position: 2px 452px;
  }
   #shouy5:hover{
    background-position: 2px 492px;
  }
       #shouy6{
    background-position: 0px 206px;
  }
   #shouy6:hover{
    background-position: 2px 247px;
  }
  .shouz{
  	display: block;
  	width:100px;
  	height: 60px;
  	text-align: center;
  	line-height: 60px;
  	font-size: 14px;
  	color: #565c68;
  }
  .shouli:hover .shouz{
  	color: red;
  }
  #jutuw{
  	  width:100%;
  	  height: 510px;
  	  background: #f1f1f1;
  }
  #jutu{

  	 display: block;
  	 margin:0px auto;
  	 width:1840px;
  	 height: 495px;
  	 background-image: url(../img/jutu.jpg);
  	 background-size: 3840px 495px;
  	 background-position: -1100px 00px;
  	 background-repeat: no-repeat;
  }
  .zbox1{
  	 margin:0 auto;
  	 width:1300px;
  	 height:358px;
  }
  .zbox1s{
  	 display: block;
  	 width:385px;
  	 height: 237px;
  	 background: #f2f2f2;
  	 float: left;
  	 margin-top: 60px;
  	 margin-left: 30px;
  } 
  .zbox1s:hover{
       margin-top: 56px;
       box-shadow: 3px 15px 30px #999999,-3px -1px 50px #999999;
  }
   .jiaru{
      margin-top: 10px;
    	margin-left:90px;
     text-align: center;
   	  background: red;
   	  width:100px;
   	  height: 40px;
      color:white;
   	  border:1px solid red;
   	  cursor:pointer;
   	  border-radius: 3px;
   }
  .zbox1s:nth-child(1){
  	 margin-left: 60px;
  	 background-image: url(../img/quanneng.jpg);
  }
   .zbox1s:nth-child(2){
  	 background-image: url(../img/fanghu.jpg);
  }
    .zbox1s:nth-child(3){
  	 background-image: url(../img/jijian.jpg);
  }
  .dzboxw{
      	width:100%;
  	  background: #f1f1f1;
  }
  .dzboxn{
  	margin:0 auto;
  	  width:1300px;
  }
  .h2{   
     	display: block;
  		 width:1200px;
  		 height: 87px;
  		 font-size: 23px;
  		 line-height: 87px;
  		 margin-top: 22px;
  	   font-weight:normal;
  	    margin:0 auto;
  }
  .rexiao1{
  	 display: block;
  	 width :1300px;
  	 height: 410px;
     margin:0 auto;
     /*border:1px solid black;*/
  }
 .rexiao1 .rexiao1sw{
     float: left;
  	 width:285px;
  	 height:400px;
  	 background: #ffffff;
  	 margin-left: 21px;
  	 margin-top: 5px;
     /*border:1px solid blue;*/

  }
  .rexiao1sw:nth-child(1){
    margin-left: 50px;
  }
  .rexiao1s{
  		display: block;
  	 width:285px;
  	 height:334px;
  	 background: #ffffff;
     /*border:1px solid red;*/
  }
  .rexiao1ss{
  	 display: block;
  	 margin:10px auto 10px;
  	 width:200px;
  	 height: 200px;
  	 background-size: 100%;
     /*border:1px solid red;*/
  }
   .seban{
   	  display: block;
   	  height: 10px;
   	  width:10px;
   	  border-radius:50%;
   	  margin:0 auto;
   }
   .seban2w{
     	display: block;
   	  width:50px;
   	  height: 10px;
   	  margin:0 auto;
   }
   .seban2{
     	float: left;
   	  height: 10px;
   	  width:10px;
   	  border-radius:50%;
   	  margin-right:10px;
   }
   .seban2w2{
     	display: block;
   	  width:30px;
   	  height: 10px;
   	  margin:0 auto;
   }
   #seban1{
   	background: #333333;
   	  margin:0 auto;
   }
   #seban2{
   	background: #eb0028;
   }
   #seban3{
   	background: #333333;
   }
     #seban4{
   	background: #313131;
   }
       #seban5{
   	background: #52312b;
   	margin-right: 0;
   }
  #seban41{
  	margin-right: 0;
  	 background: #323232;
  }
  #seban42{
  	 background: #eb0028;
  	margin-right: 0;
  }
  #seban311{
  	background: #2c2c2c;
  }
  #seban312{
  	background:#60645d;
  	margin-right: 0;
  }
  #seban321{
  	background: #9f9a9f;
  }
   #seban322{
  	background: #333333;
  	margin-right: 0;
  }
 #rexiao1ss1{
  	background-image: url(../img/hong1.png);
 }

  #rexiao1ss2{
  	background-image: url(../img/hongqian.png);
  }
  #rexiao1ss3{
  	background-image: url(../img/hong.png);
  }
    #rexiao1ss4{
  	background-image: url(../img/hong2.png);
  }
  #rexiao2ss1{
  	background-image: url(../img/shang21.png);
  }
    #rexiao2ss2{
  	background-image: url(../img/shang22.png);
  }
    #rexiao2ss3{
  	background-image: url(../img/shang23.png);
  }
    #rexiao2ss4{
  	background-image: url(../img/shang24.png);
  }
  #rexiao3ss1{
  	background-image: url(../img/bao1.png);
  }
  #rexiao3ss2{
  	background-image: url(../img/bao2.png);
  }
  #rexiao3ss3{
  	background-image: url(../img/bao3.png);
  }
  #rexiao3ss4{
  	background-image: url(../img/bao4.png);
  }
  .rexiao1sp{
  	 color:#10181f;
  	 font-size: 16px;
  	 text-align: center;
  	 line-height: 35px;
  }
  .rexiao1s2{
  	color:#4b5157;
  }
  .rexiaoshan{
  	text-decoration: line-through;
  	color:#999999;
  }

  .rexiao1sw:hover{
  	margin-top: 1px;
  	 box-shadow:7px 15px 50px #cbcbcb,-7px -3px 50px #cbcbcb;
  }

      	.shouhouw{
         		width:100%;
         		height: 175px;
         		background: #ffffff;
         		border-bottom: 1px solid #e3e3e3;
         	}
         	#shouhou{
         		display: block;
         		width:1400px;
         		height: 175px;
         		margin:0 auto;
         		
         	}
         	#shouhou li{
              float: left;
              width:275px;
              height: 175px;
              position: relative;
         	}
         #shouhou li:nth-child(1){
         	margin-left: 80px;
         }
           .shouhoua{
           	 display: block;
           	 width:60px;
           	 height: 60px;
           	 position: absolute;
           	 left: 103px;
           	 top: 40px;
           	 background-image: url(../img/sh.png);
            }
           .shouhoup{
           	color:#6b6f70;
           	position: absolute;
           	left:80px;
           	top:125px;
           } h
           .shouhoua:nth-child(1){
           	 background-position: -10px 190px;
           }

         #shouhoua2{
         	 	 background-position: -10px -10px;
         }
          #shouhoua3{
         	 	 background-position: -10px -250px;
         }
           #shouhoua4{
         	 	 background-position: -10px 70px;
         }