body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
       }  
       body{
       	font-family:"微软雅黑" 	Arial;
       	overflow-x: hidden;
       }
       ul,ol{
       	list-style:none;
       }
       li{
       	list-style:none;
       }
       a{
       	text-decoration:none;
       }
       img{
       	border:0;
       }
       html,body{
       	width:100%;
       	height:100%;
       }
       header{
       	width:100%;
       	height:68px;
       	background: white;
       }
       .headern{
       	width:1580px;
       	height: 68px;
       	margin:0 auto;
       	position: relative;
       	
       }
       .headerimg{
           width:39px;
           height: 37px;
           position: absolute;
           left: 150px;
           top:14px;
       }
       .headerul{
       	width:1080px;
       	height: 66px;
       	 position: absolute;
       	 left: 220px;
       }
       .headerul li{
       	 float: left;
       	 width:180px;
       	 height: 66px;
       }
       .headerul li a{
       	display: block;
       	color: #8d8d99;
       	 width:180px;
       	 height: 66px;
       	  line-height: 66px;
       	 text-align: center;
       }
       .headerul li:hover a{
          color: red;
          border-bottom: 2px solid red;
       }
         .headeryou{
       	position: absolute;
       	right: 50px;
       	top: 0;
       	 width:195px;
       	 height: 66px;
       }
       .headeryoum{
       	float: left;
       	position: relative;
       	width:65px;
       	height:64px;
       	line-height: 66px;
       	color: #828282;
       }
     #tnew{
   display: block;
   width:50px;
   height: 14px;
   color:red;
   font-size: 12px;
   z-index: 1;
   margin-top: -75px;
   margin-left: 130px;
}
       .headeryoumaaa{
          display: block;
          width:65px;
          height:64px;
        text-align: center;
          }
       .headeryouaasapn{
        text-align: center;
          display: block;
      width:65px;
      height: 64px;
      position: absolute;
        left: 0;
        top: 0;
       }
       .headeryoum:hover .headerhy{
       	display: block;
       }
       .headeryoum:hover {
       	color:black;
       	border-bottom: 2px solid black;
       }
          
  
       .headeryouaasapn i{
       	font-size: 24px;
       }
     
       .headerhy{
       	padding:30px;
       	background:white;
       	display: block;
         width:306px;
       	height:250px;
       	position: absolute;
       	top:66px;
       	left:-220px;
       	display: none;
       	z-index: 2;
       }
            #yonghu{
          float: left;
          width:200px;
            height: 90px;
          line-height: 90px;
               text-align: center;
            
              font-size: 16px;
           color:#3f9fcd;
         display: none;
        }
        #tuichu{
             display: block;
                float: left;
                 width:60px;
                text-indent:20px;

               height: 90px;
               text-align: center;
               line-height: 90px;
              color:#3f9fcd;
              border:none;
              font-size: 16px;
               cursor:pointer;
              display: none;
        }
        #tuichu:hover{
            text-decoration: underline;
        }
      #denglv{
          height: 90px;
          line-height: 90px;
         color:#3f9fcd;
         border:none;
         /*display: none;*/
       }
       #denglv:hover{
        text-decoration:underline;
       }
       .headerhy a{
       	display: block;
       	width:316px;
       	height:60px;
       	color:#828282;
       	font-size: 18px;
       	border-bottom: 1px solid  #828282;
       }
       .headerhy a:hover{
       	 color:black;
       }
    

      #headerhyy{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:15px;
        background:white;
        display: block;
         width:306px;
        position: absolute;
        top:66px;
        display: none;
        z-index: 2;
      	left: -300px;
      	width:330px;
      	 text-align: center;
      }
      .shang{
          display: flex;
          justify-content: flex-start;
         width:320px;
         height:121px;
         display: flex;
         /*border-bottom: 1px solid #dfdfdf;*/
         border-bottom:1px solid  #828282;
         /*border-bottom: 1px solid #eee;*/
      }
      .shangspan{
          float: left;
          display: block;
          margin-top: 20px;
          width:78px;
          height: 78px;
          border:1px solid #efefef;
          background-image: url(../img/shangpin1.jpg);
          /*border:1px solid #000;*/
          /*background: darkgoldenrod;*/
      }
      .shangps{
             line-height: 50px;
         font-size: 14px;
         color: #696857;
          margin-left: 10px;
      }
      .shangpx{
        width:300px;
        height: 40px;
         background:pink;
      }
      .shangpxsl{
        float: left;
        display: block;
        width:50px;
        height: 40px;
        background: white;
         margin-left:130px;
         margin-top: -38px;
         text-align: center;
         border:none;
         /*outline: none;*/
      }
     .shang .shangps .shangpxdj{
       display: block;
       width:60px;
       /*color:red;*/
       height: 40px;
       /*z-index: 2;*/
    }
    .shangg{
          display: block;
         float: left;
         width:20px;
         height: 40px;
         margin-left: 10px;
    } 
     .delet{
          display: block;
          width:40px;
          height: 20px;
          line-height: 20px;
          color:red;
          border:1px solid red;
          margin-left: 200px;
     }
      .shangpxy{
        text-align: center;
        display: block;
        margin-left: 130px;
        margin-top:-42px;
        width:80px;
        height: 38px;
      }
      #zongjia{
        display: block;
        width:300px;
        color:red;
        display: none;
      }
      #jiesuan{
          margin-top: 10px;
        width:320px;
        height:40px;
        line-height: 40px;
       background-color:#eb0028;
        color:white;
        background:red;
        border-radius: 5px;
        cursor: pointer;
        display: none;
      }
      #zzong{
         font-size: 20px;
      }
      #headermmd{ 
         display: block;
         width:320px;
         height: 121px;
         line-height: 121px;
          color:#828282;
           font-size: 18px;
        border-bottom: 1px solid  #828282;
        /*display: none;*/
      }
      #hedmmmpp{
          /*position: absolute;*/
          /*bottom:10px;*/
          /*left: 30px;*/
          margin-top: 10px;
        display: block;
        width:320px;
        height:40px;
        line-height: 40px;
            background-color:#eb0028;
            color:white;
        background:red;
        border-radius: 5px;
      }
      #shangpin{
         margin-top: 5px;
         width:340px;
         /*height: 300px;*/
         display: flex;
         flex: 1;
         flex-direction: column;
         justify-content: flex-start;
              overflow-y:scroll;
      }
      .jia{
         margin-left: 10px;
         width:20px;
         height: 20px;
         border:1px solid green;
         background: white;
      }
      .jian{
        margin-right: 10px;
          width:20px;
         height: 20px;
         border:1px solid green;
         background: white;
      }
      .shuzz{
        text-indent: 5px;

         width:20px;
         height: 20px;
         line-height: 20px;
         text-align: center;
      }
    .deaderyoumm:hover #headerhyy{
      display: block;
    }
    .deaderyoumm{
    	position: relative;
    }
      .headeryou.deaderyoumm{
      	height: 220px;
      }
      .deaderyoumm .hedmmmpp{
      	 height: 60px;
      }
     .deaderyoumm .hedmmmp:nth-child(2){
     	border: none;
     }




        #hou{
          width:100%;
          height: 267px;
          background: #fcfcfc;
         }
         .houn{
          width:1400px;
          height: 267px;
          margin:0 auto;
         }
         .hous{
          display: block;
          width:216px;
          height: 267px;
          text-align: center;
          line-height: 35px;
          float: left;
            color:#8d8591;
            font-size: 11px;
         }
         .hous li a{
          color:#8d8591;
         }

         .hous li:first-child{
           margin-top: 40px;
           color:#263542;
            font-size: 14px;

         }
         #hous1{
          margin-left: 80px;
         }
         #hous5{
          position: relative;
         }
          #dianhuahaoma{
             display: block;
             width:142px;
             height: 30px;
           /*  left: 40px;
              top:35px;*/
              margin-left: 40px;
              margin-top: 45px;
          }
          #kefuwai{
           position: relative;
             overflow: hidden;
             display: block;
             width:214px;
             height: 45px;
             line-height: 45px;
             margin-top: 27px;
             border:1px solid #101920;
             background: #ffffff;
          }
          #kefuhou{
            position: absolute;
            left: 0;
            top: 0;
             display: block;
              width:0px;
             height: 45px;
             background: #000;
          }
          #zaixiankefu{
              position: absolute;
            left: 68px;
            font-size: 18px;
             color:#2d2e34;
             line-height: 45px;
             z-index: 1;
          }
         #kefuwai:hover #kefuhou{
               width:214px;
               transition: all 0.6s;
                color:white;

         }
         #kefuwai:hover #zaixiankefu{
                color:white;
               transition: all 0.3s;
         }
         #shij{
           line-height: 60px;
         }
         #WeChat{
           position: relative;
           width:24px;
           height: 20px;
          margin-left: 70px;
          background-image: url(../img/wechat.jpg);
          background-size: 100%;
         }
         #weib{
           display:block;
           position: absolute;
           left: 128px;
           top: 209px;
           width:24px;
           height: 20px;
           background-image: url(../img/weib.jpg);
          background-size: 100%;
         }
         #WeChatx{
            display: block;
            width:124px;
            height: 124px;
            position: absolute;
            left: -50px;
            top: -124px;
            z-index: 1;
            display: none;
         }
         #WeChat:hover #WeChatx{
          display: block;
         }
         .chinaw{
            width:100%;
            height: 126px;
            background: #f9f9f9;
         }
         .chinan{
          width:1200px;
          height: 126px;
          margin:0 auto;
         }
         .china{
          width:1264px;
          height: 126px;
          margin:0 auto;
            border-bottom:1px solid #e1e1e1;
              position: relative;
         }
         #guoqi{
          position: absolute;
          left: 70px;
          top:55px;
          display: block;
           width:20px;
           height: 15px;
           background-image: url(../img/guoqi.png);
           background-position: 0 -63px;
         }
         #china2{
            position: absolute;
          left: 100px;
          top:49px;
          font-size: 18px;
          color:#656565;
         }
         .yinsi,.xieyi,.anquan{
          position: absolute;
          top: 49px;
          display: block;
          border-right: 1px solid #515770;
          width:95px;
          height: 14px;
           color:#515770;
           font-size: 14px;
           text-align: center;
         }
         .yinsi{
          left: 800px;
         }
         .xieyi{
          left: 900px;
         }
         .anquan{
          left: 1000px;
          border: none;
         }
         footer{
          width:100%;
          height: 115px;
         }
         .fshang{
          position: relative;
          width:100%;
          height: 37px;
          margin: 16px auto;
         }
         .fshang1{
          position: absolute;
          left: 50px;
          line-height: 37px;
          font-size: 14px;
          color:#b4b4b4;
         }
         .yingye{
          position: absolute;
          display: block;
          width:88px;
          height: 31px;
          background-image: url("../img/yingye.png");
          left: 830px;
          top: 3px;
          background-size: 100%;
         }
         .kexin{
          position: absolute;
          display: block;
          width:88px;
          height: 31px;
          background-image: url("../img/cnnic.png");
          left: 980px;
          top: 3px;
          background-size: 100%;
         }
         .fxia{
          position: relative;
            width:100%;
          height: 37px;
          margin-top: 16px;
         }
         .fxian{
          width:1200px;
          height: 115px;
          margin:0 auto;
         }
         .fxiaw{
          position: absolute;
           left: 50px;
             display: block;
           width: 500px;
           height: 37px;
           line-height: 37px;
         }
         .fxiaz{
           position: absolute;
           top:7px;
           display: block;
           width:23px;
           height:23px;
           background-image: url(../img/badge.png);
           background-size: 100%;
         }
         .gongan{
          position: absolute;
          left: 32px;
          color: #4a5055;
         }